<%- include("partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/login" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            <form class="form-signin">
                <p><a href="/forgot">Reset Password</a></p>
            </form>
        </form>
    </div>
</div>

<%- include("partials/footer") %>